.mainRow{
  width: 100%;
  display: flex;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

hr{
  background-color: white;
}

.logo{
  width: 40%;
}

.professional-body{
  background-color: grey;
}

.professional-body img{
  margin-right: -15px;
}

.creative-body{
  background-color: black;
  color: white;
}

.creative-body img{
  margin-left: -15px;
}

.landingNav{
  background-color: #191c24;
  font-size: 1.2rem;
}

.landingNav .navbar{
  font-size: 1.5rem;
}


.landing-img{
  width: 68%;

}

.aboutMe{
  background-color: #191e24;
  padding-top: 4.5%;
  padding-bottom: 4.3%;
}

.aboutMe h1{
  font-size: 3rem;
}

.project-body{
  background-color: grey;
}

.project-body hr{
    border: none;
}

#projectBodySm{
  display: none;
}

.project-body .landing-img{
  width: 100%;
}

.hobby-body{
  background-color: black;
}

.hobby-body .hobby-img{
  width: 95%;
}

.carousel-creative{
  height: 38rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


.myNav a{
  color: rgba(255,255,255,.5);
  font-size: 1.2rem;

}

.myNav a:hover{
  color: rgba(255,255,255,.75);
}

.myFooter{
     height: 12vh;
}

.logoFooter{
     width: 25%;
}

.navFooter{
     width: 78%;
}

.navFooter a{
     font-size: 2rem;
}

.arrowUp{
     font-size: 0.8rem;
}

/* Flip cards CSS */
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.back button{
  width: 80%;
}

/*  Snapping tool -- Only working in Chrome*/

.snappingContainer{
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    left: 0px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    scroll-behavior: smooth;
}

.itemSnapping{
    /* height: 110vh; */
    scroll-snap-align: start ;
    scroll-snap-stop: always;
}

.itemLanding{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* End of Snapping */

/* Media Queries */
@media screen and (max-width: 991.98px){

#projectBodyLg{
  display: none;
}

#projectBodySm{
  display: block;
}

.landing-img{
  width: 90%;
}

.logo{
  width: 65%;
}


 }
